{{#if hero}}
    {{#partial "title"}}{{hero.name}}{{/partial}}
{{/if}}
{{#partial "content"}}
    {{#if hero}}
        <div class="container">
            <p>Name: {{hero.name}}</p>
            <p>Power: {{hero.power}}</p>
            <p>Weakness: {{hero.weakness}}</p>
            <p>Age: {{hero.age}}</p>
        </div>
        <a href="/edithero/{{hero.id}}" class="btn btn-secondary">Edit This Hero</a>
        <a href="/deletehero/{{hero.id}}" class="btn btn-danger">Delete This Hero</a>

    {{/if}}
{{/partial}}
{{> layout.hbs}}